<!-- HEADER -->
<header id="header" class="shadow-xs">
<!-- TOP BAR -->
<div id="top_bar" class="bg-light fs--14"> <!-- optional if body.header-sticky is present: add .js-ignore class to ignore autohide and stay visible all the time -->
<div class="container">
<div class="text-nowrap"><!-- change with .scrollable-horizontal to horizontally scroll, if -only- no dropdown is present -->
<div class="d-flex justify-content-between">
<div class="d-inline-block float-start">
<!--img src="{#{constant('ROOT')}#}assets/images/logo/logo_dark.png" title="Valoriza para tu negocio"-->
</div>
<div class="d-inline-block float-end">
<ul class="list-inline m-0">
<li class="dropdown list-inline-item">
    <a href="https://wa.me/584249569266?text=Le escribo desde la página de soporte" 
       class="p-2 d-inline-block font-weight-medium text-light-green-900" 
       rel="noreferrer"
       target="_blank">
<i class="float-start fi fi-phone"></i> Whatsapp (0424) 956-9266
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!-- /TOP BAR -->

</header>
<!-- /HEADER --