<!-- Footer -->
<footer id="footer" class="shadow-xs">
<div class="border-top">
<div class="container text-center py-5">
<!-- logo -->
<span class="h--70 d-inline-flex align-items-center">
    <img src="{{constant('ROOT')}}assets/images/logo/logo_dark.png" alt="Centro de Ayuda Valoriza2" width="110" height="32">
</span>
<p class="m-0 text- text-dark-400 fs--14">
&copy; Sistema de Administración de Condominio Valoriza2 2020. 
<br>
Todos los derechos reservados
</p>
<div class="mt-5"> 
<!-- social -->
<a href="https://www.facebook.com/valorizavenezuela/" class="btn btn-sm btn-light transition-hover-top mb-2 rounded-circle" rel="noopener" aria-label="facebook page">
<i class="fi fi-social-facebook"></i> 
</a>
<a href="https://twitter.com/valoriza_ve?lang=es" class="btn btn-sm btn-light transition-hover-top mb-2 rounded-circle" rel="noopener" aria-label="twitter page">
<i class="fi fi-social-twitter"></i> 
</a>
<!--a href="#!" class="btn btn-sm btn-light transition-hover-top mb-2 rounded-circle" rel="noopener" aria-label="linkedin page">
<i class="fi fi-social-linkedin"></i> 
</a-->
<a href="https://www.youtube.com/Valoriza2" class="btn btn-sm btn-light transition-hover-top mb-2 rounded-circle" rel="noopener" aria-label="youtube page">
<i class="fi fi-social-youtube"></i> 
</a>
<!-- credit cards -->
<!--ul class="list-inline mb-0 mt-2"> 
<li class="list-inline-item m-0"> 
<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/visa.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="visa credit card icon">
</li> 
<li class="list-inline-item m-0"> 
<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/mastercard.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="mastercard credit card icon">
</li> 
<li class="list-inline-item m-0"> 
<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/discover.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="discover credit card icon">
</li>
<li class="list-inline-item m-0"> 
<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/amazon.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="amazon credit card icon">
</li>
<li class="list-inline-item m-0"> 
<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/paypal.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="paypal credit card icon">
</li>
<li class="list-inline-item m-0"> 
<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/skrill.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="skrill credit card icon">
</li>
</ul-->
</div>
</div>
</div>
</footer>
<!-- /Footer -->
